/* style.css IAT 381 P02 */

body{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 1em;
	padding: 0;
}

img{
	width: auto;
	height: auto;
	max-width: 100%;
}

nav {
	font-weight: 600;
	font-size: 1em;
	letter-spacing: -0.02em;
	background: #EEE;
	border: 1px solid #DDD;
}

header {
}

footer {
}

p{
-webkit-margin-before: 0em;
-webkit-margin-after: 0em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}

h1{
	font-size: 1.5em;
	font-weight: 800;
}

h2{
	font-size: 1.2em;
	font-weight: 600;
}

h3{
	font-size: 1em;
	font-weight: 800;
}

#site-container{
	max-width: 1024px;
	margin: 0 auto;
}

/* navigation styling */

/*
.nav-element li{
	width: 16%;
	float: right;
	list-style: none;
	border: 1px solid #DDD;
	padding: 1.2em 0.75em;
	background: #EEE;
	transition: ease all 0.5s;
}
*/

/*
.nav-element li{
	list-style: none;
}

.nav-element li a:hover{
	background: #FFF;
}

.nav-element li a {
	width: 16%;
	float: right;
	border: 1px solid #DDD;
	background: #EEE;
	padding: 1.2em 0.75em;
	text-decoration: none;
	color: #555;
	text-transform: uppercase;
	transition: ease all 0.5s;
}
*/
.brand{
	width: 12%;
	float: left;
	display: block;
	margin: 0.5em 2em 0 2em;
}

ul.nav-element {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.nav-element li{
	float: right;
	width: 20%;
}

.nav-element li a{
	display: block;
	width: 100%;
	background: #EEE;
	border-left: 1px solid #DDD;
	padding: 1.2em 1em;
	text-decoration: none;
	text-transform: uppercase;
	color: #555;
	transition: ease all 0.5s;
}

.nav-element li a:hover{
	background: #FFF;
}


/* end of navigation styling */

.centered-container{
	margin: auto;
	background: #EEE;
}

.product-hover-info{
	width: 100%;
	height: 100%;
	position: absolute;
	text-align: center;
	color: rgba(0, 0, 0, 0.0);
}

.product-hover-info:hover{
	background-color: rgba(0,0,0,0.5);
	color: inherit;
}

.coffee-products img{

}

.product-container{
	position: relative;
}
