/* style.css IAT 381 P02 */

.centered-container{
	margin: auto;
	background-color: #ff0000;
}
#site-container{
	max-width: 1024px;
	margin: auto;
}
.product-hover-info{
	width: 100%;
	height: 100%;
	position: absolute;
	text-align: center;
	color: rgba(0, 0, 0, 0.0);
}
.product-hover-info:hover{
	background-color: rgba(0,0,0,0.5);
	color: inherit;
}
.coffee-products img{

}
.product-container{
	position: relative;
}

img{
	width: auto;
	height: auto;
}

body{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 1em;
}
nav {
	font-weight: 600;
	font-size: 1.375em;
}

footer {
	font-size: 0.8em;
}

p{
-webkit-margin-before: 0em;
-webkit-margin-after: 0em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}


.nav-element {
	width: 100%;
}

.nav-element li{
	width: 16.666%;
	float: left;
	list-style: none;
	border: 1px solid #EEE;
	padding: 1.2em 1em;
}

.nav-element a {
	text-decoration: none;
	text-align: center;
}

.logo{
	width: 16.666%;
	float: left;
	display: inline-block;
	background: url('../imgs/ccoffee_logo.svg') no-repeat;
}

.logo img{
	width: 100%;
}