/* style.css IAT 381 P02 */

body{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 80%;
	padding: 0;
}

#site-container{
	max-width: 1280px;
	margin: 0 auto;
	box-shadow: 0 0 3px #DDD;
	background: #EEE;
}

.main{
	padding: 1em 2em;
}
li{
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
ul{
	margin:0;
	padding: 0;
}
img{
	width: auto;
	height: auto;
	max-width: 100%;
}

nav {
	font-weight: 600;
	font-size: 1.3em;
	letter-spacing: -0.02em;
	background: #EEE;
	border-bottom: 1px solid #DDD;
}

header {
}

footer {
	padding: 2.5em 2em;
	background: #333;
	min-height: 150px;
	color: #EEE;
}

p{
-webkit-margin-before: 0em;
-webkit-margin-after: 0em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}

h1{
	font-size: 1.5em;
	font-weight: 800;
	color: #555;
}

h2{
	font-size: 1.2rem;
	font-weight: 600;
	margin: 0;
	/*padding: 1rem 2rem;*/
}

h3{
	font-size: 1em;
	font-weight: 800;
}

.logo{
	width: 10%;
	float: left;
	display: block;
	margin: 1.5% 2%;
	transition: ease 0.5s;
}

.logo:hover{
	opacity: 0.8;
}

#navToggle{
	display: none;
	position: absolute;
	right: 0;
	padding: 4%;
	color: #555;
	font-size: 1.2rem;
	font-weight: 600;
	text-decoration: none;
}

ul.nav-element {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.nav-element li{
	float: left;
	width: 20%;
}

.nav-element li a{
	display: block;
	width: 100%;
	background: #EEE;
	border-left: 1px solid #DDD;
	padding: 1.75em 1em;
	text-decoration: none;
	text-transform: uppercase;
	color: #555;
	transition: ease all 0.5s;
	-webkit-transition: ease all 0.5s;
	-moz-transition: ease all 0.5s;
}

.nav-element li a:hover{
	background: #FFF;
}
/* START OF contact Styling */

.location  header, .location  img{
	margin-bottom: 1em;
}
.location{
	margin-bottom: 3em;
}
#locations{
	margin-bottom: 8em;
}
#contact ul{
	font-size: 0.6rem;
}
#contact h2{
	font-size:1em;
	margin-bottom: 1em;
}
.contact-image{
	background: url(../imgs/cafe_interior.jpg) no-repeat;
	background-size: cover;
	width: 100%;
	height: 320px;
	position: relative;
	margin-bottom: 3em;
}
/* END OF location Styling */

/* end of navigation styling */

.brand-image{
	background: url(../imgs/coffee.jpg) no-repeat;
	background-size: cover;
	width: 100%;
	height: 640px;
	position: relative;
}

.brand-text{
	position: absolute;
	left: 0; right: 0; top: 0; bottom: 0;
	width: 60%;
	height: 50%;
	margin: auto;
	text-align: center;
}

.brand-values{
	border-top: 2px dotted #EEE;
	border-bottom: 2px dotted #EEE;
	padding: 4em 0 4em 0;
	margin-bottom: 1.5em;
	/* background-color: rgba(163,161,147,0.9); */
}

.brand-values h2{
	font-size: 3rem;
	padding: 0;
	font-weight: 800;
	color: #FFF;
	text-shadow: 1px 1px 4px #555;
}

.brand-values h2.small{
	font-size: 2em;
	font-weight: 600;
}

p.blend-type{
	font-family: Cambria, serif;
	font-size: 1.5em;
	margin-top: 0.5rem;
	text-shadow: 1px 1px 4px #555;
	color: #FFF;
}


.brand-button{
	text-align: center;
}

.brand-button h3{
	font-weight: 600;
	color: #FFF;
	text-transform: uppercase;
	border: 1px solid #FFF;
	display: inline-block;
	padding: 1em;
	transition: ease 0.5s;
}

.brand-button h3:hover{
	border: 1px solid #FFF;
	background: rgba(0,0,0,0.6);
}


.centered-container{
	margin: auto;
	background: #EEE;
}

/*

.product-hover-info{
	width: 100%;
	height: 100%;
	position: absolute;
	text-align: center;
	color: rgba(0, 0, 0, 0.0);
}

*/

.product-container{
	position: relative;
	overflow: hidden;
	transition: ease all 0.5s;
	-webkit-transition: ease all 0.5s;
	-moz-transition: ease all 0.5s;
}

.product-container a{
	text-decoration: none;
}

.product-hover-info{
	text-align: center;
	background: #555;
	color: white;
	padding: 1em;
	margin: 0;
	margin-top: -4px;
}

p.product-hover-info{
	font-family: 'PT Mono', sans-serif;
	font-weight: 400;
	font-size: 1rem;
}

.product-container:hover {
	opacity: 0.6;
}

.coffee-products{
	margin: auto;
	margin-bottom: 3rem;
}

.title{
	padding: 1em 0 2em 0;
	font-size: 1.5rem;
}

/* Footer Styling */

.copyright{
	font-size: 0.6rem;
	line-height: 1.2rem;
}

.social ul{
	list-style: none;
	padding-left: 0;
	margin-top: 0.5em;
}

.social a{
	text-decoration: none;
	color: #AAA;
}

.social a:hover{
	color: #EEE;
}

/* END OF Footer Styling */


/* -------- MEDIA QUERIES ----------- */
/* ---------------------------------- */

@media (width: 1920px){
	#site-container{
		max-width: 1920px;
	}

	.logo{
		width: 7%;
	}

	.brand-image{
		height: 800px;
	}

}


@media (max-width:800px){

/* Not needed
	#locations > section{
		width: 50%;
	}

	
	#top{
		border-bottom: 1px solid #DDD;
	}

	*/

	ul.nav-element{
		border-top: 1px solid #DDD;
	}

	.logo{
		width: 25%;
		float: none;
		display: block;
		margin: 0;
		padding: 1em;
	}

	#navToggle{
		padding-top: 4.5%;
	}

	.nav-element li{
		width: 50%;
	}

	.nav-element li a{
		border-left: none;
		border-bottom: 1px solid #DDD;
		border-right: 1px solid #DDD;
	}

	.brand-image{
		height: 540px;
	}
	#locations, #contact{
		width: 100%;
	}

	.brand-text{
		height: 70%;
	}

@media (max-width:480px){
	.nav-element li{
		width: 100%;
		float: none;
	}

	.nav-element li a{
		border-bottom: 1px solid #DDD;
	}

	.logo{
		width: 35%;
		float: none;
		display: block;
		padding: 0.75em .75em 0.5em;
	}

	.brand-text{
		height: 80%;
	}

	#navToggle{
		padding-top: 5%;
	}
}
